/* COMMON */
body {
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: #101820;
  background-color: #dbb98f33;

}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  display: block;
}

/* Header */
header {
  /* background-color: #f6f5f0; */
  background-color: #DBB98F;
  border-bottom: 3px solid #96351F;
  /* border: 1px solid #c8c8c8; */
}
header .inner {
  /* background-color: aqua; */
  max-width: 1500px;
  height: 150px;
  position: relative;
  margin: auto;
}

header .inner .logo {
  /* background-color: pink; */
  width: 125px;
  height: 125px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  z-index: 1;
}
header .logo>img {
  width: 125px;
}


header .inner .subject-menu {
  /* background-color: red; */
  max-width: 1000px;
  height: 75px;
  position: absolute;
  top: 85px;
  bottom: 0;
  right: 20px;
  margin: auto;
}

header .inner .subject-menu .subject {
  /* background-color: white; */
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  width: inherit;
  height: 75px;
  align-items: center;
}

header .inner .subject-menu .subject div {
  padding: 10px 20px 34px 20px;
  margin: auto 50px;
  border-radius: 10px 10px 0 0;
}
header .inner .subject-menu .subject div:hover {
  background-color: #96351F;
}

header .inner .subject-menu .subject div a{
  color: #96351F;

}

header .inner .subject-menu .subject div:hover a {
  color: #DBB98F;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #DBB98F;
  color: #96351F;
  border: 3px solid #96351F;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  box-shadow: 0 0 5px 0 #DBB98F;
  outline: none;
}
.circle:hover {
  background-color: #96351F;
  color: #DBB98F;
  border: 3px solid #DBB98F;
  box-shadow: 0 0 5px 0 #96351F;
  cursor: pointer;
}


.roulette-box {
  width: 500px;
  position: absolute;
  top: 200px;
  bottom: 0;
  right: 100px;
  margin: auto;
}
.roulette-box>div button {
  margin: auto;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  outline: none;
  font-size: 20px;
  box-shadow: 0 0 5px 0 #DBB98F;
  background-color: #DBB98F;
  color: #96351F;
  border: 3px solid #96351F;
  
}
.roulette-box>div button:hover {
  background-color: #96351F;
  color: #DBB98F;
  box-shadow: 0 0 5px 0 #96351F;
  border: 3px solid #DBB98F;
  cursor: pointer;
}

.roulette-box .roulette {
  text-align: center;
  font-size: 30px;
}
.roulette-box .roulette>img {
  width: 450px;
  margin: auto;
  transition: 1.2s;
  
}


@media screen and (max-width: 800px) {
  body {
    font-weight: 400;  
  }

  header .inner {
    max-width: 400px;
    height: 80px;
    position: relative;
    margin: auto 0;
  }
  header .inner .logo {
    width: 70px;
    height: 70px;
    z-index: 1;
  }
  header .logo>img {
    width: 70px;
  }
  header .inner .subject-menu {
    width: 400px;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

  }
  header .inner .subject-menu .subject {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 25px;
    position: absolute;
    top: 25px;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  header .inner .subject-menu .subject div {
    width: 100px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
  }



  .circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    font-size: 13px;
    background-color: #DBB98F;
    color: #96351F;
    border: 3px solid #96351F;
    position: absolute;
    top: -500px;
    left: 10px;
    margin: auto;
    box-shadow: 0 0 5px 0 #DBB98F;
    outline: none;
  }



  .roulette-box {
    width: 300px;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 10px;
    margin: auto;
  }
  .roulette-box>div button {
    margin: auto;
    width: 70px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    font-size: 13px;
    box-shadow: 0 0 5px 0 #DBB98F;
    background-color: #DBB98F;
    color: #96351F;
    border: 3px solid #96351F;
    
  }
  .roulette-box>div button:hover {
    background-color: #96351F;
    color: #DBB98F;
    box-shadow: 0 0 5px 0 #96351F;
    border: 3px solid #DBB98F;
    cursor: pointer;
  }
  
  .roulette-box .roulette {
    text-align: center;
    font-size: 20px;
  }
  .roulette-box .roulette>img {
    width: 280px;
    margin: auto;
    transition: 1.2s;
  }
}